<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>


<body>
    <form method = "post" action = "http://localhost:5000/login_flash">
        <table>
            <tr>
                <td>username</td>
<!--                <td><input type = 'email' name = 'email'></td>-->
                <td><input type = 'text' name = 'username'></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type = 'password' name = 'password'></td>
            </tr>
            <tr>
                <td><input type = "submit" value = "Submit"></td>
            </tr>
        </table>
    </form>
    {% if error %}
        <p><strong>Error</strong>: {{ error }}</p>
    {% endif %}
</body>
</html>